
.content-wraps {
      margin: auto;
      display: flex;
      justify-content: center;
      margin-top: 120px;   
}

.movie-description {
    width: 50%;
    margin-right: 10px;
}

.movie-description  > h1,h2,h3,p {
    text-align: center;
    margin: 10px;
}

.movie-description  >  div > span {
    text-align: center;
}

.movie-poster {
    margin-left: 10px;
}

.rating {
    text-align: center;
    margin: 10px;
}

.btn-container {
   display: flex;
   align-items: center;
   justify-content: space-around;
   margin-bottom: 8rem;
   margin-top: 3rem;
}

.wish-list-btn {
    padding: 10px;
    border: none;
    color: #ff4800;
    font-weight: 700;
}

.wish-list-btn:hover {
        background-color: #ff4800;
        color: #ffffff;
}



  
  



