


nav  {
    height: 60px;
    color: #ffffff;  
    background-color: rgba(0, 0, 0);
}

nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

li {
    list-style: none;
    margin-top: 15px;
}

.link {
   font-size: 1rem;
   font-family: 'Roboto', sans-serif;
   padding: 25px;
   color: #ffffff;
   text-decoration: none;
   list-style: none;
   
}

.link:hover{
    color: #ff4800;
    font-weight: bold;
}

.logo {
  margin-left: auto !important;
  font-size: 25px;
  color: #ff4800;
  margin: 9px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  border: solid 2px #ffffff;
  border-radius: 4px;
  padding: 4px;
  box-shadow: 2px 2px 2px #f5eeee;
  background-color: #ffffff;
}

.logo:hover {
    background-color: black;
    color: white;
}


